phpmyadmin:
        image: phpmyadmin/phpmyadmin
        ports:
            - 8080:80
        environment:
            PMA_HOST: mysql
            PMA_USER: sail
            PMA_PASSWORD: password
        networks:
            - sail
        depends_on:
            - mysql
